@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Would you like to delete @Model.Name?</h2>

@using (Html.BeginForm())
{
  
  <input type="submit" value ="Confirm"/>
}

@Html.ActionLink("Back to List", "Index")