@{
  Layout = "_Layout";
}
@using Registrar.Models

<h1>Student List</h1>

@if (Model.Count == 0)
{
  <p>there are no Students enrolled for this semester</p>
}

<p>
  @foreach (Student student in Model)
  {
    @Html.ActionLink($"{student.Name}", "Details", new {id = student.StudentId})<br>
  }
</p>

<div class="form-div">
  @using (Html.BeginForm("Create", "Students", FormMethod.Get))
  {
    <input type="submit" value="Add a new student" class="btn btn-secondary" />
  }
</div>