<div id="footer">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>|</p>
  <p>@Html.ActionLink("Student List", "Index", "Students")</p>
  <p>|</p>
  <p>@Html.ActionLink("Course List", "Index", "Courses")</p>
  <p>|</p>
  <p>@Html.ActionLink("Department List", "Index", "Departments")</p>
</div>