@{
  Layout = "_Layout";
}
<h1>Welcome to School!</h1>

<p>@Html.ActionLink("Student List", "Index", "Students")</p>
<p>@Html.ActionLink("Course List", "Index", "Courses")</p>
<p>@Html.ActionLink("Department List", "Index", "Departments")</p>